<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="../imgs/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../imgs/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../imgs/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../imgs/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../imgs/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../imgs/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../imgs/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../imgs/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../imgs/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../imgs/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../imgs/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../imgs/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../imgs/favicons/favicon-16x16.png">
		<link rel="manifest" href="../imgs/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../imgs/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="../css/bootstrap-select.min.css"/>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/responsive.css"/>


		<title>Azeer Online System - Dashboard</title>

	</head>

	<body id="full-width" class="fnt-wht">

		<div class="spacer-40"></div>

		<section id="dashboard-admin" class="">

			<div class="container">

			<div class="row">
				<div class="col-lg-2">
					<center><img src="../imgs/azeer-logo-big.png" class="img-fluid img-50"/></center>
					<div class="spacer-20"></div>
				</div>
				<div class="col-lg-10"></div>

				<div class="col-lg-10 d-flex justify-content-center justify-content-md-start">
					<h2 class="title">WELCOME ADMIN!</h2>
				</div>
				<div class="col-lg-2"></div>
			</div>

			</div>
		</section>

		<div class="spacer-40"></div>

		<section>
			<div class="container">

				<div class="row">

					<div class="col-lg-3">
						<a href="profile.html" class="btn btn-primary btn-lg btn-block btn-azeer-bl btn-lg2">
							<i class="fas fa-user marRight-10"></i> Profile
						</a>
						<div class="spacer-20"></div>
					</div>

					<div class="col-lg-3">
						<a href="customer.html" class="btn btn-primary btn-lg btn-block btn-azeer-bl btn-lg2">
							<i class="fab fa-intercom marRight-10"></i> Customers
						</a>
						<div class="spacer-20"></div>
					</div>

					<div class="col-lg-3">
						<a href="engineer.html" class="btn btn-primary btn-lg btn-block btn-azeer-bl btn-lg2">
							<i class="fas fa-toolbox marRight-10"></i> Engineers
						</a>
						<div class="spacer-20"></div>
					</div>

					<div class="col-lg-3">
						<button class="dropdown-toggle btn btn-primary btn-block btn-lg btn-block btn-azeer-bl btn-lg2" data-toggle="dropdown">
							<i class="fas fa-tasks marRight-10"></i> Assign Task
						</button>
						<div class="dropdown-menu dp-azeer">
				      <a class="dropdown-item" href="task-list.html">New</a>
							<div role="separator" class="dropdown-divider"></div>

				      <a class="dropdown-item" href="task-list.html">In Progress</a>
							<div role="separator" class="dropdown-divider"></div>

				      <a class="dropdown-item" href="task-list.html">Cancelled</a>
				      <div role="separator" class="dropdown-divider"></div>

				      <a class="dropdown-item" href="task-list.html">Completed</a>
				    </div>
						<div class="spacer-20"></div>
					</div>


				</div>


			</div>

		</section>

		<div class="spacer-80"></div>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<a href="index.html" class="btn btn-primary btn-lg btn-block btn-azeer-bl">
							<i class="fas fa-power-off marRight-10"></i> Sign Out
						</a>
						<div class="spacer-20"></div>
					</div>
					<div class="col-lg-3"></div>
					<div class="col-lg-3"></div>
					<div class="col-lg-3"></div>
				</div>
		</div>
		</section>



		<!-- JavaScript -->
		<!-- Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="../js/bootstrap-select.min.js" crossorigin="anonymous"></script>

		<!-- Fontawesome JS -->
		<script src="https://kit.fontawesome.com/c169c568b6.js" crossorigin="anonymous"></script>
		<script src="../js/bootstrap-select.min.js" crossorigin="anonymous"></script>

		<!-- Custom JS -->
		<script src="../js/custom.js" crossorigin="anonymous"></script>
	</body>
</html>
