<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="../imgs/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../imgs/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../imgs/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../imgs/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../imgs/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../imgs/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../imgs/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../imgs/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../imgs/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../imgs/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../imgs/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../imgs/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../imgs/favicons/favicon-16x16.png">
		<link rel="manifest" href="../imgs/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../imgs/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="../css/bootstrap-select.min.css"/>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="../css/style.css"/>
		<link rel="stylesheet" href="../css/responsive.css"/>


		<title>Azeer Online System</title>

	</head>

	<body id="full-width">

		<section id="reset-password" class="h-100">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col-lg-5 align-self-center fnt-wht">
						<div class="row">
							<div class="col-lg-1"></div>
							<div class="col-lg-10">
								<center><img src="../imgs/azeer-logo-big.png" class="img-fluid img-50"/></center>
							</div>
							<div class="col-lg-1"></div>
						</div>
					</div>

					<div class="col-lg-2 d-none d-lg-block">
						<div class="vl"></div>
					</div>

					<div class="col-lg-5 align-self-center fnt-wht">
						<div class="row">
							<div class="col-lg-4"></div>
							<div class="col-lg-4">
								<center><img src="../imgs/azeer-users.png" class="img-fluid img-50"/></center>
							</div>
							<div class="col-lg-4"></div>
						</div>

						<div class="spacer-20"></div>

						<div class="row">

							<div class="col-lg-1"></div>

							<div class="col-lg-10">
								<form action="" method="POST">
									<div class="form-group">
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<center>
														<i class="far fa-envelope"></i>
													</center>
												</div>
											</div>
											<input type="email" class="form-control" placeholder="Email" required>
										</div>
									</div>


									<div class="spacer-10"></div>

									<div class="row">
										<div class="col-lg-6">
											<button type="submit" class="btn btn-primary btn-w-100 btn-azeer-bl">
											SUBMIT</button>

											<div class="spacer-10"></div>
										</div>

										<div class="col-lg-6">
											<a href="index.html" class="btn btn-primary btn-w-100 btn-azeer-bl">
											CANCEL</a>
										</div>
									</div>

								</form>
								<div class="spacer-40"></div>
							</div>

							<div class="col-lg-1"></div>
						</div>


					</div>
				</div>
			</div>


		</section>



		<!-- JavaScript -->
		<!-- Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="../js/bootstrap-select.min.js" crossorigin="anonymous"></script>

		<!-- Fontawesome JS -->
		<script src="https://kit.fontawesome.com/c169c568b6.js" crossorigin="anonymous"></script>

		<!-- Custom JS -->
		<script src="../js/custom.js" crossorigin="anonymous"></script>
	</body>
</html>
