html,body{}
body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
}
.logo{
  max-width: 20%;
}

p,span{
  line-height: 1.6;
  margin:0px;
}

/*spacers*/
.spacer-6{display: block; height: 6px;}
.spacer-10{display: block; height: 10px;}
.spacer-20{display: block; height: 20px;}
.spacer-30{display: block; height: 34px;}/*form submit button*/
.spacer-40{display: block; height: 40px;}
.spacer-60{display: block; height: 60px;}
.spacer-80{display: block; height: 80px;}
.spacer-100{display: block; height: 100px;}

.fl-right{float: right;}
.fl-left{float: left;}
.fl-clear{clear:both;}

.mar-20{margin-right: 20px;}
.w-90{display:inline-flex;;width:90px;}

table{width:100%;}
table thead td{
  background-color: #656565;
  padding:5px;
  text-align: center;
  color: #fff;
}

table tbody td{
  border: 1px solid #656565;
  padding:5px;
}

.text-center{text-align:center !important;}
.row{
  display: block;
}
.div50{
  width: 100%;
  max-width: 50%;
  float: left;
}
.div33{
  width: 100%;
  float: left;
  max-width: 33.333333%;
}

.div25{
  width: 100%;
  float: left;
  max-width: 25%;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}
